<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>change password</title>
  <style>
    .container {
      border: 1px dashed black;
      background-color: rgb(194, 193, 193);
      padding: 1vmax;
    }
  </style>
</head>

<body>
<h4 class="text-center my-4">Change Password with Authentication</h4>
<form class="container" id="changePassForm">
  <div class="mb-3">
    <label for="newPass" class="form-label">New Password :</label>
    <input type="password" class="form-control" id="newPass" name="newPass" [(ngModel)]="newPass">
  </div>
  <div class="mb-3">
    <label for="cNewPass" class="form-label">Confirm New Password : </label>
    <input type="password" class="form-control" id="cNewPass" name="cNewPass" [(ngModel)]="cNewPass" minlength="8">
  </div>
  <input type="submit" class="btn btn-primary" value="Change Password" (click)="changePassword()">
</form>
</body>

</html>
